<!-- pdv_management/accordion.html -->

<li class="nav-item">
    <a class="nav-link active" data-bs-toggle="collapse" href="#pdvAccordion" role="button" aria-expanded="true" aria-controls="pdvAccordion">
        PDV Management
    </a>
    <div class="collapse" id="pdvAccordion">
        <ul class="nav flex-column ms-3">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pdv_management:pdv_manage' %}" >Punti Di Vendita</a>
            </li>

        </ul>
    </div>
</li>
