{% extends "website/dashboard/dashboard.html" %}
{% load static %}

{% block dashboard_app %}

<div class="container mt-2 w-100 mx-auto d-flex align-items-center flex-column">

    <h2 class="mb-2">Orari di Apertura Management</h2>

    <button class="btn btn-primary m-2" type="button" data-bs-toggle="modal" data-bs-target="#addForm">
        Aggiungi Orario di Apertura
    </button>
    
    <div class="modal fade" id="addForm" tabindex="-1" aria-labelledby="addFormLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFormLabel">Aggiungi Orario di Apertura</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'pdv_management:opening_hours_add' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ opening_hours_form.pdv.id_for_label }}" class="form-label">{{ opening_hours_form.pdv.label }}</label>
                            {{ opening_hours_form.pdv }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ opening_hours_form.weekday.id_for_label }}" class="form-label">{{ opening_hours_form.weekday.label }}</label>
                            {{ opening_hours_form.weekday }}
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="{{ opening_hours_form.opening_time.id_for_label }}" class="form-label">{{ opening_hours_form.opening_time.label }}</label>
                                {{ opening_hours_form.opening_time }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="{{ opening_hours_form.closing_time.id_for_label }}" class="form-label">{{ opening_hours_form.closing_time.label }}</label>
                                {{ opening_hours_form.closing_time }}
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="{{ opening_hours_form.is_closed.id_for_label }}" name="{{ opening_hours_form.is_closed.html_name }}">
                            <label for="{{ opening_hours_form.is_closed.id_for_label }}" class="form-check-label">{{ opening_hours_form.is_closed.label }}</label>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Aggiungi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    


    {% for pdv, opening_hours_list in opening_hours_data.items %}
        <h3 class="mb-3">Orari di Apertura di {{ pdv }}</h3>
        {% for entry in opening_hours_list %}
        <div class="card mb-3 w-100">
            <div class="card-body py-1 px-2">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text mb-0">{{ entry.opening_hours }}</p>
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#editForm-{{ entry.opening_hours.id }}">
                            Modifica
                        </button>
                        <form action="{% url 'pdv_management:opening_hours_delete' entry.opening_hours.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">
                                Elimina
                            </button>
                        </form>
                    </div>
                </div>
                <div class="collapse mt-2" id="editForm-{{ entry.opening_hours.id }}">
                    <form action="{% url 'pdv_management:opening_hours_update' entry.opening_hours.id %}" method="post">
                        {% csrf_token %}
                        {{ entry.opening_hours_form }}
                        <button type="submit" class="btn btn-primary mt-2">Salva modifiche</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endfor %}



</div>

{% endblock %}
